
.header-img {
    width: 100%;
    height: 700px;
    background: url("https://images.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
  }
  .img{
      color: #ba7967;
  }
  .navbar-brand{
   
    font-weight: bold;
    font-size: 2.5em;
    font-family: 'Dancing Script', cursive;  
}
.nav-item{
    padding-left : 18px ;
    padding-right: 18px;
}
.title{
    font-family:  cursive;
    font-weight: bolder;
    position: absolute;
    color: white;
    left: 10px;
    right : 10px;
    top: 220px;
    background-color: #323232;
    opacity: 0.5;
    
   
}
.title:hover{
    opacity: 1;
}
h1, h3 {
    text-align: center; 
   
}
.reserve{
    text-align: center;
    position: absolute;
    left: 100px;
  bottom : 220px ;
    
}
.menu{
    text-align: center;
    position:absolute;
    left: 280px;
   bottom : 220px ;
    color: white;
}
.menu:hover{
    /* color: #e7b2a5; */
    color: black;
    background-color: white;
}
.btn-light:hover{
    color: white;
    background-color : transparent;
}
.intro{
    text-align: center;
    margin: 80px;
    padding: 10px;
    font-family: 'Amethysta', serif;
}
.container{
    text-align: center;
}
.about{
    padding-bottom: 120px;
}
.reviews{
    padding: 4% 3%;
    padding-bottom: 0.8%;
    text-align: center;
    /* background-color: #d4b5b0; */
    /* background-color: #c1a57b; */
    /* background-color: #fbc99d; */
    background-color: #f0e3c4;
}
.reviews-image
{
    border-radius:100% ;
    width: 100px;
    margin: 20px;
}
.carousel-item{
    padding:7% 15%;
}
.text{
    font-family: 'Fredoka One', cursive;
    text-align: center;
    /* color: #ba7967; */
    color: #420000;
}
.reviews-text{
    font-family: 'Amiri', serif;
    color: #382039;


}
em{ font-size: 1.5em;
    font-family: 'Amiri', serif;
    color: #382039;

}
.menu-heading{
    color: #5a3d55;
    font-weight: bolder;
    font-size: 65px;
    padding-top: 90px;
    padding-bottom: 80px;
}
.name{
    color: #ba7967;
}
.table{
   color: #382039;
}